#cabanas .container .items{
    display:block;
}

#cabanas .items .item{

    display:flex;
    text-align: left;
    flex-direction: row;
 }

 #cabanas .items .item i{
    margin-right:1rem;
    align-self:center;
    margin-bottom:0;
 }




 @media(max-width:500px){

    #navbar{
        flex-direction: column;
        align-items: flex-start;
       
    }
    #navbar .logo{
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    .nav-links{
        width:100%;
        display:none;
      
    }
    #navbar ul {
        display:block;
        width: 100%;
        text-align:center;
        
    }

    #navbar ul li{
        width: 100%;
    }


    #navbar ul li a{
        display:block;
        padding: 1.5rem 0;
        width:100%;
        border-bottom: #444 dotted 1px;
    }
     
    .nav-links.active{
        display: flex;
        
    }
    #complejo{
        display:block;
    }

    #complejo .complejo-img{
        display:none;
    }

    #contact{
     flex-direction: column;
      
    }
  
     #contact .map{
       display: none;
    }

    .toggle-button{
        display:block;
    }
    
}